@import 'variables.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $weather-card-bg;
  padding: 1rem;
  color: $common-text-color;

  .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;

    a {
      color: $common-text-color;
      display: flex;
      align-items: center;
      text-decoration: none;

      .logo-img {
        height: 24px;
        margin-right: 8px;
      }

      h1 {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }

  .login {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    .login-btn, .register-btn {
      padding: 0.6rem;
      margin: 0.2rem;
      border: none;
      border-radius: 0.3rem;
      background-color: $day-group-bg;
      color: $common-text-color;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: lighten($day-container-bg, 10%);
      }
    }
  }

  // For mobile devices
  @media only screen and (max-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo, .login {
      flex-grow: 1;
    }

    h1 {
      font-size: 1.2rem;
    }
  }
}
