@import 'variables.scss';

.searchbar-container {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    padding: 10px;
    border-radius: 5px;
    position: relative;

    input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: lighten($primary-bg-color, 10%);
        color: $primary-text-color;
    }

    .search-results {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $primary-bg-color;
        border: 1px solid $day-group-border;
        border-radius: 5px;
        z-index: 2;

        div {
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: $day-container-hover-bg;
        }
        }
    }
}
