@import 'variables.scss';

.weather-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  font-size: 1.2rem;

  .expanded-day-group {
    .day-container {
        display: inline-block;
        
        margin-right: 16px;
        
    }
    .day-container-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        padding-left: 20px;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .loading {
    color: $common-text-color;
    font-size: 1.5rem;
  }

  .country-list {
    position: absolute;
    z-index: 1000;
  }

  .country-flag {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin: -6px 0.7rem 0 0.7rem;
  }

  .weather-card {
    background-color: $weather-card-bg;
    padding: 1.5rem;
    line-height: 1.2;
    border-radius: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: $common-text-color;
    width: 100%;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      color: $common-text-color;
    }
  }

  .day-group,
  .hero-day-group {
    background-color: $day-group-bg;
    border: $day-group-border;
    border-radius: 0.8rem;
    padding: 1rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: $day-container-hover-bg;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .day-title {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      color: $common-text-color;
    }
  }

  .hero-day-group {
    width: 100%;
  }

  .day-group:not(.hero-day-group) {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .day-container div {
    line-height: 1.4;
    font-size: 1rem;
  }

  .day-container,
  .hero-day-container {
    background-color: $day-container-bg;
    border-radius: 0.6rem;
    color: $common-text-color;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1rem;
    text-align: center;

    .time {
      font-size: 1rem;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .hero-day-container-wrapper {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;

    &::-webkit-scrollbar {
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: lighten($scrollbar-thumb-color, 20%);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-bg-color;
    }
  }

  @media (max-width: 768px) {
    .day-group:not(.hero-day-group),
    .hero-day-group {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    .day-group:not(.hero-day-group),
    .hero-day-group {
      width: 100%;
    }
  }
}
